.container{
    background-color: white;
    margin:0;
    padding:0;
}

.content{
    padding: 0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}